@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue: #39a7ff;
    --light_blue: #87c4ff;
    --custom_white: #e0f4ff;
    --cream: #ffeed9;
    --custom_grey: #121b25;
    --light_grey: #555;
}

::selection {
    background: var(--cream);
    color: var(--blue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fef6f0;
    --foreground: #111111;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.hero {
  background: url(/images/hero-bg.png);
  background-color: #f4b507;
}
